.videoGames{
    padding: 100px 0;
}
.products__item{
    font-family: 'Permanent Marker', cursive;
    padding: 0 0 50px 0;
    text-align: center;
    font-size: 50px;
}
.games{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.game{
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    background-color: white;
    padding: 25px 40px 10px 40px;
    margin-bottom: 10px;
}
.game__img{
    cursor: pointer;
    width: 300px;
    height: 350px;
    margin-bottom: 10px;
}
.game__name{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.game__platform{
    font-weight: 900;
    color: black;
}
.game__price{
    font-size: 20px;
    color: green;
    font-weight: 700;
}
.game__btn{
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #A8CF45;
    border: 0;
    outline: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.game__btn:hover{
    background-color: red;
}
.other{
    display: flex;
    justify-content: space-between;
}
.loading{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rebeccapurple;
}