.home{
    
}
.homepage{
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    height: 675px;
}
.homepage__inner{
    max-width: 450px;
}
.homepage__title{
    font-family: 'Playfair Display', serif;
    color: #4D4D4D;
    font-size: 100px;
    font-weight: 600;
    line-height: 120px;
    margin-bottom: 40px;
}
.homepage__img{
}
.homepage__text{
    font-family: Arial, Helvetica, sans-serif;
    color:  #4D4D4D;
    font-weight: 600;
    line-height: 30px;
    opacity: 0.6;
    margin-bottom: 70px;
    letter-spacing: 1px;
}
.homepage__btn{
    color: white;
    background: linear-gradient(90deg, rgba(135,196,69,1) 0%, rgba(9,121,65,1) 51%, rgba(9,150,206,1) 100%);
    padding: 20px 20px;
    border: 0;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    letter-spacing: 2px;
    outline:none;
}

.homepage__btn:hover{
    animation: animate 0.6s linear infinite;
}
@keyframes animate 
{
    0%
    {
        background-position: 0;
    }
    50%
    {
        background-position: 100px;
    }
    100%
    {
        background-position: 200px;
    }
}
.popup{
    position: relative;
    position: fixed;
    z-index: 10;
    top: 200px;
    left: 32%;
    right: 32px;
    transition: 100ms ease-in-out;
    padding: 20px;
    width: 600px;
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 80%;
    color: white;
    background-color:#C4996C;
    border-radius: 20px;
}
.popup button {
    cursor: pointer;
    top: -10px;
    right: -10px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    outline: none;
}
.overlay{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
}
