.app{
    
} 
.sections{
    background-color:#f6f6f6fa;
}
.footer{
    background-color: #37475A;
    padding: 50px;
    text-align: center;
}
.footer__text{
    color: white;
}
.container{
    max-width: 1600px;   
    margin: auto;
    padding: 0 50px;  
}
.header{
    background-color: #A8CF45;
}


